<header>
  <h2><%= t '.list_your_conference' %></h2>
  <h3><%= t '.encourage_submissions' %></h3>
</header>

<section class="qualifications">
  <dl>
    <dt><%= t '.is_your_event' %></dt>
    <dd><%= icon('check-square-o') %> <%= t '.for_professional_developers' %></dd>
    <dd><%= icon('check-square-o') %> <%= t '.seeking_speaker_proposals' %></dd>
  </dl>
</section>

<section class="approve">
  <%= link_to t('.yes_list_me'), organizer_omniauth_authorize_path(:twitter), class: "button", role: "button" %>
</section>
