<header>
  <h2><%= t('.title') %></h2>
</header>

<%= form_for(@conference_listing, url: conference_listing_path(conference_id: @conference_listing.id)) do |f| %>
  <section class="inputs">
    <fieldset>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :website_url %>
      <%= f.text_field :website_url %>

      <%= f.label :twitter_handle %>
      <%= f.text_field :twitter_handle, disabled: true %>
    </fieldset>

    <figure>
      <%= f.hidden_field :logo_url %>
      <%= image_tag @conference_listing.logo_url if @conference_listing.logo_url %>
    </figure>
  </section>

  <section class="submit">
    <%= f.submit t('.submit') %>
  </section>
<% end %>
