<header>
  <h2>List your conference</h2>
</header>

<%= form_for(@conference, url: conference_listing_path(@conference), method: 'post') do |f| %>
  <section class="inputs">
    <fieldset>
      <%= f.label :name, 'Conference name' %>
      <%= f.text_field :name %>

      <%= f.label :website_url, 'Website' %>
      <%= f.text_field :website_url %>

      <%= f.label :twitter_handle, 'Twitter handle' %>
      <%= f.text_field :twitter_handle, disabled: true %>
    </fieldset>

    <figure>
      <%= image_tag @conference.logo_url %>
    </figure>
  </section>

  <section class="submit">
    <%= f.submit "Create listing" %>
  </section>
<% end %>
