<header>
  <div class="logo"><%= image_tag @conference.logo_url if @conference.logo_url %></div>
  <div class="name"><%= @conference.name%></div>
  <div class="website-url"><%= link_to icon('external-link'), @conference.website_url%></div>
  <div class="location"><%= @conference.location%></div>
</header>

<article>
  <p><%= @conference.description %></p>
  <div class="twitter-link"><%= link_to @conference.twitter_name, @conference.twitter_url %></div>

  <section>
    <%= render partial: "twitter" %>
    <%= render @conference.tweets %>
  </section>
</article>
