%header
  .logo= image_tag @conference.logo_url
  .name= @conference.name
  .website-url= link_to icon('external-link'), @conference.website_url
  .location= @conference.location

%article
  %p= @conference.description
  .twitter-link
    = link_to @conference.twitter_name, @conference.twitter_url
