<%= form_for(@conference_detail, html: {class: "form--conference"}) do |f| %>
  <h3><%= t('.title') %></h3>

  <section class="fields">
    <%= f.label :location %>
    <%= f.text_field :location %>

    <%= f.label :starts_at, t('.dates') %>
    <section class="date-picker">
      <%= f.date_field :starts_at %><span>→</span><%= f.date_field :ends_at %>
    </section class="date-picker">

    <%= f.label :attendee_count %>
    <%= f.number_field :attendee_count %>
  </section>

  <section class="submit">
    <%= f.submit t('.next') %>
  </section>
<% end %>

<nav class="nav--conference">
  <ul>
    <li><%= link_to t('.account'), new_conference_listing_path(@conference_detail.conference) %></li>
    <li class="current"><%= link_to t('.details'), edit_conference_detail_path(@conference_detail.conference) %></li>
    <li><%= link_to t('.structure'), edit_conference_structure_path(@conference_detail.conference) %></li>
  </ul>
</nav>

<script src="//maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&libraries=places&callback=ConferenceDetailsEdit" async defer></script>
